@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: local('../fonts/Roboto'), local('../fonts/Roboto-Regular'),
    url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot');
  src: local('../fonts/Roboto Medium'), local('../fonts/Roboto-Medium'),
    url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --primary: #22124E;
  --accent: #FFC452;
  --menu: #FBFBFB;
  --bg: #FAFAFA;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: 'Roboto';
  text-align: center;
  height: 100%;
}

body.with-overlay {
  overflow: hidden;
}

.body-overlay {
  display: none;
}

.body-overlay.active-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(38, 32, 31, 0.65);
  z-index: 10;
  color: #ffffff;
}

.header {
  overflow: hidden;
  background-color: var(--primary);
  padding: 13px 108px 12px 118px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.header a {
  float: left;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.mini-user-menu {
  display: none;
  position: absolute;
  width: 264px;
  height: 129px;
  top: 75px;
  right: 170px;
  background: #FBFBFB;
  border: 1px solid #D6D6D6;
  border-radius: 3px;
  flex-direction: column;
  text-align: left;
}

.mini-user-menu.expand {
  display: block;
}

.mini-user-menu a {
  display: flex;
  padding: 15px;
  text-decoration: none;
  color: black;
  align-items: center;
}

.mini-user-menu a:hover {
  color: black;
  background: #FBFBFB;
  border: 1px solid var(--primary);
}

.mini-user-menu span {
  padding-left: 15px;
}

.language-menu.expand {
  display: flex;
}

.language-menu {
  display: none;
  position: absolute;
  width: 73px;
  height: 110px;
  right: 120px;
  top: 77px;
  background: #FBFBFB;
  border: 1px solid #D6D6D6;
  border-radius: 3px;
  flex-direction: column;
}

.language-menu span {
  padding: 17px;
}

.language-menu span:hover {
  border: 1px solid var(--primary);
}

.header-right {
  float: right;
  color: #FAFAFA;
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  border: 3px solid var(--bg);
  background-color: var(--accent);
  width: 45px;
  height: 45px;
  margin: 0 38px;
}

.language {
  margin-left: 10px;
}

main {
  height: 100%;
}

.sidebar {
  margin: 0;
  padding: 35px 10px 0px 102px;
  background-color: var(--menu);
  float: left;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #D6D6D6;
  height: 100%;
}

.menu-item.collapse {
  display: none;
}

.sidebar a.collapse {
  width: 60px;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  height: 45px;
  width: 220px;
  padding: 6px 9px;
  margin: 5px;
}

.sidebar a:last-child {
  margin-top: 50px;
}

.sidebar a:hover {
  border: solid 1px var(--primary);
  border-radius: 5px;
  background-color: #FBFBFB;
  color: black;
}

.sidebar i {
  padding-left: 10px;
  color: #757575;
}

.sidebar span {
  margin-left: 13px;
}

.circle {
  display: flex;
  border: solid 1px var(--primary);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  width: 25px;
  height: 25px;
}

.active {
  background-color: var(--primary);
  color: #F2F2F2;
  border-radius: 5px;
}

.sidebar a.active span {
  color: #fff;
}

.sidebar a.active:hover span {
  color: black;
}

.main-block {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.main-block h2 {
  text-align: left;
  margin-bottom: 30px;
}

.main-information {
  display: flex;
  justify-content: space-around;
}

.main-information article {
  width: 100%;
  max-width: 300px;
  height: 500px;
  border: 2px solid var(--primary);
  border-radius: 6px;
}

.main-information article:not(:last-child) {
  margin-right: 30px;
}

.information-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 75px 32px 60px;
}

.information-block h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.information-block a {
  margin-top: 20px;
  text-decoration: none;
  height: 50px;
  width: 220px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  font-size: 1.25rem;
  line-height: 45px;
  color: black;
}

.information-block a:hover {
  color: #FFFFFF;
  background-color: var(--primary);
}

.information-block p {
  height: 73px;
}

.main-users {
  margin-bottom: 50px;
}

.main-archive {
  margin: 20px 0 40px;
}

.main-gun {
  margin: 20px 0 63px;

}

/* Burger-menu */

.burger-box {
  display: none;
}

.burger-menu {
  padding: 18px 10px;
  width: 320px;
  height: 590px;
  right: 60px;
  top: 75px;
  background: #FBFBFB;
  border: 1px solid #D6D6D6;
  border-radius: 3px;
  text-align: left;
  display: block;
  position: absolute;
  visibility: hidden;
  list-style: none;
  transition-duration: .25s;
  font-size: 1.25rem;
  z-index: 100;
}

.burger-menu a {
  text-decoration: none;
  color: black;
}

.pages-links img {
  width: 23px;
  height: 20px;
}

.pages-links {
  margin-left: 13px;
}

.pages-links a {
  display: flex;
  padding: 7px 5px;
  margin: 5px 0;
}

.pages-links a:hover {
  width: 280px;
  border: 1px solid #22124E;
  border-radius: 5px;
  background: none;
}

.pages-links img {
  margin-right: 17px;
}

.burger-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 20px 8px;
}

.user-burger {
  display: flex;
  align-items: center;
}

.burger-header a:hover {
  background: none;
  border: 0;
}

.user-burger .burger-user-btn {
  padding-left: 15px;
}

.language-burger .burger-language-btn {
  padding-right: 5px;
}

.user-burger .avatar {
  margin: 0;
  background: #D0D0D0;
  border: 2px solid #FFC452;
}

.border {
  height: 1px;
  color: rgba(117, 117, 117, 0.7);
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.burger-menu {
  visibility: visible;
}

.menu__btn {
  display: none;
  align-items: center;
  position: absolute;
  top: 23px;
  right: 55px;
  width: 30px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 3px;

  background-color: #FFFFFF;

  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}


@media screen and (max-width: 1330px) {

  .header {
    padding: 13px 40px;
  }

  .avatar {
    margin-left: 18px;
  }

  .sidebar {
    padding-left: 24px
  }

  .main-information {
    align-items: center;
  }

  .main-information article {
    max-width: 250px;
    height: 450px;
  }

  .main-information img {
    width: 80px;
  }

  .information-block a {
    height: 41px;
    width: 178px;
    line-height: 35px;
  }

  .main-gun {
    margin-bottom: 50px;
  }

  .main-archive {
    margin-bottom: 20px;
  }

  .information-block h2 {
    margin-bottom: 2px;
    text-align: center;
  }

  .information-block {
    padding-right: 22px;
    padding-left: 22px;
  }

  .archive-block p {
    height: 60px;
  }
}

@media screen and (max-width: 1155px) {
  .sidebar {
    display: none;
  }

  .avatar {
    margin-right: 70px;
  }

  .main-information {
    flex-direction: column;
  }

  .main-information article:not(:last-child) {
    margin-right: 0px;
  }

  .main-information article {
    max-width: 1000px;
    height: 220px;
    width: 100%;
  }

  .information-block a,
  .information-block p {
    display: none;
  }

  .information-block {
    padding: 30px 0;
  }

  .main-information article:not(:last-child) {
    margin-bottom: 15px;
  }

  .user-btn,
  .language-btn,
  .language {
    display: none;
  }

  .menu__btn {
    display: flex;
  }

  .burger-box {
    display: block;
  }

}

@media screen and (max-width: 400px) {
  .burger-menu {
    width: 350px;
    right: 0;
    top: 70px;
  }
}

/* Личный кабинет */

.photo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photo-block button,
input[type="submit"] {
  width: 220px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid var(--primary);
  border-radius: 25px;
}

.photo-block button:hover,
input[type="submit"]:hover {
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}

.user-photo {
  background-color: #EAEAEA;
  border: 5px solid #FFC452;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 77px;
}

.user-data {
  margin-top: 40px;
}

.user-account {
  background: #F2F2F2;
}

.user-account-position {
  margin-right: 550px;
}

form {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
}

.user-data form div {
  width: 100%;
  max-width: 250px;
}

form div {
  margin: 5px 60px 15px 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  /* max-width: 220px; */
  padding: 10px 15px;
  border: 1px solid #757575;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"] {
  outline-color: var(--primary);
}

input[type="submit"] {
  margin-top: 25px;
}

label {
  font-size: 0.75rem;
}

.user-role {
  margin-right: 250px;
}

.user-password h2 {
  margin: 40px 0 25px;
}

.user-password a {
  display: block;
  text-decoration: none;
  width: 220px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid var(--primary);
  line-height: 45px;
  border-radius: 25px;
  color: black;
}

.user-password a:hover {
  color: #FFFFFF;
  background-color: var(--primary);
}


.password-modal {
  display: none;
}

.password-modal.open {
  display: block;
}

.password-form h2 {
  text-align: center;
  font-size: 1.3125rem;
}

.password-form {
  position: absolute;
  top: 186px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 370px;
  max-height: 512px;
  padding: 50px 53px 73px 57px;
  border-radius: 10px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.password-form #userSubmit {
  background: var(--accent);
  color: black;
  border: 0;
}

.password-form input[type="password"] {
  font-size: 1rem;
  max-width: 260px;
}

.password-form label {
  font-size: 0.75rem;
}

.fa-circle-xmark {
  top: 0;
  right: -60px;
  position: absolute;
  color: #FFFFFF;
}

@media screen and (max-width: 1355px) {
  form {
    max-width: 700px;
  }

  .user-account-position {
    margin-right: 0;
  }
}

@media screen and (max-width: 1155px) {
  form {
    max-width: 750px;
  }

  .user-data form div {
    max-width: 300px;
  }

}

@media screen and (max-width: 800px) {

  input[type="submit"],
  .user-password a {
    width: 100%;
  }

  form {
    display: flex;
    justify-content: center;
  }

  .user-data form div {
    max-width: 500px;
  }

  .device-data form select,
  form input[type="text"] {
    max-width: 500px;
  }

  form div,
  .user-role {
    margin-right: 0;
  }

}

@media screen and (max-width: 720px) {
  .fa-circle-xmark {
    top: -55px;
    right: 5px;
  }

}

@media screen and (max-width: 550px) {

  .user-photo {
    width: 100px;
    height: 100px;
    margin-right: 30px;
  }

  .user-photo img {
    width: 60px;
  }

  .main-block {
    padding: 10px 20px;
  }

}

@media screen and (max-width: 390px) {

  .photo-block button {
    width: 150px;
  }

}

/* Пользователи */

.users-nav button {
  width: 130px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid var(--primary);
  border-radius: 25px;
}

.users-nav a,
.devices-nav a,
.directions-nav a,
.shooting-nav a {
  display: block;
  color: black;
  width: 220px;
  height: 40px;
  line-height: 36px;
  border: 1px solid var(--primary);
  border-radius: 25px;
  text-decoration: none;

}

#search-input {
  width: 260px;
  height: 40px;
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  padding: 0 16px;
}

#add-user,
#add-device,
#add-direction,
#add-exercise {
  width: 220px;
}

.users-nav button:hover,
a:hover {
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 100%;
}

.nav div {
  display: flex;
}

.nav div button:first-child {
  margin-right: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin-bottom: 70px;
}

table input {
  width: 24px;
  height: 24px;

}

th {
  border: 1px solid #C8C8C8;
  padding: 16px;
}

td {
  border: 1px solid #C8C8C8;
}

td:not(:last-child) {
  padding-left: 16px;
}

table .table-data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.users-table .column-one {
  width: 56px;
}

.users-table .column-two {
  width: 374px;
}

.users-table .column-three {
  width: 242px;
}

.users-table .column-four {
  width: 191px;
}

.users-table .column-five {
  width: 56px;
}

.users-table .table-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7B55E1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.user,
.admin,
.manager {
  padding: 10px 24px;
  border-radius: 18px;
}

.user {
  background-color: #FFF6E4;
}

.admin {
  background-color: #FFD075;
}

.manager {
  background-color: #FFE5A3;
}

.delete-icon-nav,
.add-icon-nav {
  display: none;
}

/* Delete-user-modal */

.modal-delete-user.open {
  display: block;
}

.modal-delete-user {
  display: none;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 370px;
  max-height: 180px;
  border-radius: 10px;
  background: #FFFFFF;
  z-index: 10;
}

.modal-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-delete-user div {
  margin: 10px 0;
}

.modal-delete-user .modal-btn {
  display: flex;
  align-items: center;
}


.modal-delete-user .modal-btn a {
  display: block;
  text-decoration: none;
  color: black;
  width: 100px;
  height: 35px;
  border-radius: 12px;
  border: 1px solid #B2B2B2;
  padding: 5px;
  font-size: 1.15rem;
}

.modal-delete-user .modal-btn a:first-of-type {
  margin-right: 30px;
}

.modal-delete-user .modal-btn a:hover {
  background: var(--accent);
}

/* Accordeon-block */

.accordeon-block {
  display: none;
}

summary {
  display: flex;
  /* max-width: 460px; */
  width: 100%;
  padding: 10px;
  justify-content: space-between;
}

.accordeon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordeon-header span {
  margin-left: 12px;
}

.accordeon-header .table-data {
  padding-left: 20px;
}

.accordeon-information {
  padding-top: 20px;
  border-top: 1px solid #D6D6D6;
}

.accordeon-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordeon-row:first-child {
  margin-right: 20px;
}

.accordeon-row {
  margin-bottom: 20px;
}

.accordeon-icons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

summary::-webkit-details-marker {
  display: none
}

summary:after {
  background: url(../icons/accordepn-open.svg) no-repeat;
  content: '.';
  color: #FFFFFF;
  width: 20px;
  position: absolute;
  right: 45px
}

details {
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
  color: #363636;
  margin: 0 0 .4em;
  padding: 2%;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .shooting-table .contour-block .contour {
    margin: 10px 2px;
  }
}

@media screen and (max-width: 800px) {

  .users-table,
  .devices-table,
  .directions-table,
  .targets-table,
  .archive-table,
  .date-archive-table,
  .user-archive-table,
  .shooting-table,
  .contours-table,
  .report-table {
    display: none;
  }

  .users-results {
    display: block;
  }

  .accordeon-block {
    display: block;
  }

  .delete-btn-nav,
  .save-report-btn,
  .add-btn-nav a {
    display: none;
  }

  .delete-icon-nav,
  .add-icon-nav {
    display: block;
    width: 40px;
  }

  .delete-icon-nav {
    margin-right: 15px;
  }

  .nav {
    padding-right: 20px;
  }


}

@media screen and (max-width: 420px) {
  #search-input {
    width: 200px;
  }
}

/* Devices */

.devices-nav button {
  width: 130px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid var(--primary);
  border-radius: 25px;
}

.devices-nav button:hover {
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}

.devices-table .column-one {
  width: 56px;
}

.devices-table .column-two {
  width: 361px;
}

.devices-table .column-three {
  width: 142px;
}

.devices-table .column-four {
  width: 180px;
}

.devices-table .column-five {
  width: 124px;
}

.devices-table .column-six {
  width: 56px;
}

@media screen and (max-width: 800px) {
  .device-data .devices-row1 {
    flex-direction: column;
  }

}

/* Targets */

.targets-table .column-one {
  width: 370px;
}

.targets-table .column-two {
  width: 245px;
}

.targets-table .column-three {
  width: 180px;
}

.targets-table .column-four {
  width: 60px;
}

.targets-table .column-five {
  width: 60px;
}

.contour img {
  width: 80px;
  height: 100px;
}

.contour {
  margin: 12px auto;
  width: 100px;
  height: 100px;
  border: 1px solid #C8C8C8;
  border-radius: 4px;
  text-align: center;
}

.targets-table .accordeon-row:nth-child(2) {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
}

.targets-table .accordeon-row:nth-child(2) .contour {
  margin: 10px 0;
}



/* Directions */

.directions-nav button {
  width: 130px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid var(--primary);
  border-radius: 25px;
}

.directions-nav button:hover {
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}

.directions-table .column-one {
  width: 56px;
}

.directions-table .column-two {
  width: 382px;
}

.directions-table .column-three {
  width: 426px;
}

.directions-table .column-four {
  width: 56px;
}

@media screen and (max-width: 800px) {
  .directions-table .accordeon-row {
    margin: 0 30px 20px;
  }
}

/* Сontours */

.contours-table .column-one {
  width: 507px;
}

.contours-table .column-two {
  width: 266px;
}

.contours-table .column-three {
  width: 147px;
}

/* Shooting */

.shooting-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 190px;
}

.shooting-block p {
  font-size: 1.5rem;
}

.shooting-block a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  height: 40px;
  width: 307px;
  border: 1px solid #22124E;
  border-radius: 25px;
  line-height: 40px;
  color: black;
}

.shooting-block a:hover {
  background-color: var(--primary);
  color: #FBFBFB;
}

.shooting-nav button {
  width: 130px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid var(--primary);
  border-radius: 25px;
}

.shooting-nav button:hover {
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}

.shooting-table .column-one {
  width: 56px;
}

.shooting-table .column-two {
  width: 289px;
}

.shooting-table .column-three {
  width: 124px;
}

.shooting-table .column-four {
  width: 125px;
}

.shooting-table .column-five {
  width: 267px;
}

.shooting-table .column-six {
  width: 56px;
}

.shooting-table .contour-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.contour-block .contour {
  margin: 12px 20px;
}


/* Archive */

.archive-search {
  max-width: 280px;
}

.trial-shift {
  padding-right: 25px;
}

.archive-nav input {
  width: 20px;
  height: 20px;
}

.archive-nav span {
  position: relative;
  bottom: 3px;
}

.archive-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.download-btn {
  font-size: 0.875rem;
  text-decoration: none;
  color: black;
  width: 172px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #22124E;
  border-radius: 25px;
}

.download-btn img {
  margin-right: 10px;
  margin-top: 5px;
}

.download-btn span {
  position: relative;
  bottom: 5px;
}

.archive-nav .nav {
  justify-content: left;
}

.archive-table td {
  padding: 18px;
}

.archive-table th img {
  padding-left: 10px;
}

.archive-table td:last-child {
  padding-left: 25px;
}

.archive-table .column-one {
  width: 517px;
}

.archive-table .column-two {
  width: 164px;
}

.archive-table .column-three {
  width: 161px;
}

.archive-table .column-four {
  width: 80px;
}



/* Date-archive */

.date-archive-table td {
  padding: 18px;
}

.date-archive-table th img {
  padding-left: 10px;
}

.date-archive-table .column-one {
  width: 184px;
}

.date-archive-table .column-two {
  width: 197px;
}

.date-archive-table .column-three {
  width: 257px;
}

.date-archive-table .column-four {
  width: 123px;
}

.date-archive-table .column-five {
  width: 163px;
}

.shifts {
  display: flex;
  padding-left: 30px;
}

.shifts input {
  margin-right: 10px;
}

/* User-archive */

.user-archive-table td {
  padding: 18px;
}

.user-archive-table th img {
  padding-left: 10px;
}

.user-archive-table .column-one {
  width: 212px;
}

.user-archive-table .column-two {
  width: 263px;
}

.user-archive-table .column-three {
  width: 216px;
}

.user-archive-table .column-four {
  width: 226px;
}

.archive-link a {
  color: black;
  text-decoration: none;
  width: 95px;
  display: block;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #22124E;
  border-radius: 5px;
  line-height: 37px;
  margin-right: 10px;
}

.archive-download-link {
  width: 46px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #22124E;
  border-radius: 5px;
  padding-top: 7px;
}

.archive-table .accordeon-row {
  margin-right: 70px;
  margin-left: 20px;
}

.archive-nav img {
  display: none;
}

.archive-head .download-icon {
  display: none;
}

.download-icon img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 800px) {
  .archive-nav img {
    display: block;
    margin-left: 15px;
    width: 25px;
  }

  .search-block {
    display: flex;
  }

  .archive-nav .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .shifts {
    padding-left: 0;
    padding-top: 20px
  }

  .archive-head .download-btn {
    display: none;
  }

  .archive-head .download-icon {
    display: block;
  }
}

.user-archive-table .accordeon-row:first-child {
  margin-right: 0;
}

/* Users-editing */

.menu-tab {
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  color: #8d8d8d;
}

.menu-tab img {
  margin-left: 10px;
}

.users-edit-link a {
  text-decoration: none;
}

/* devices-editing */

.device-frames,
.device-sides {
  padding-right: 50px;
}

#frame-num,
#side-num,
#contour-num,
#shot-num {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 1.125rem;
  border: 1px solid #757575;
}

.device-target label {
  font-size: 1.125rem;
  margin-right: 20px;
}

.device-data form {
  display: flex;
  flex-direction: column;
}

.device-data form select,
form input[type="text"] {
  max-width: 300px;
}

.device-link,
.device-name {
  width: 100%;
}

.range {
  width: 300px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.diapason {
  width: 300px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 15px;
}

.device-data .devices-row1 {
  display: flex;
  max-width: 1000px;
  width: 100%;
}

.device-data p {
  font-size: 0.75rem;
  padding: 16px 0;
}

@media screen and (max-width: 800px) {


  .device-data form select,
  form input[type="text"] {
    max-width: 500px;
  }

}

/* Targets-editing */

.targets-data form {
  display: flex;
  flex-direction: column;
}

.targets-data input[type="text"],
.targets-data select {
  max-width: 300px;
}

.targets-data form .target-type,
.target-name {
  width: 300px;
}

.targets-row1,
.targets-rng {
  display: flex;
  max-width: 1000px;
  width: 100%;
}

.targets-rng {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.targets-rng .target-shots,
.target-contours {
  max-width: 305px;
}

form .target-contour-img {
  margin-right: 30px;
}

.target-img {
  display: flex;
  align-items: center;
  max-width: 1000px;
}

.target-contour-img {
  width: 200px;
  height: 200px;
  border: 1px solid #C8C8C8;
  border-radius: 4px;
}

.contour-btns button {
  width: 200px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #22124E;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

.contour-btns {
  display: flex;
  flex-direction: column;
}

.contour-btns button:first-child {
  margin-bottom: 15px;
}

#contour-num {
  margin-bottom: 25px;
}

#contour-range {
  position: relative;
  bottom: 6px;
}


.target2-diapason {
  display: flex;
  justify-content: space-between;
  width: 300px;
  position: relative;
  bottom: 21px;
}

@media screen and (max-width: 1155px) {
  .targets-data {
    margin: 0 auto;
  }

}

@media screen and (max-width: 800px) {

  .targets-row1,
  .targets-rng {
    flex-direction: column;
    align-items: center;
  }

  .target-img {
    justify-content: center;
  }

}

@media screen and (max-width: 470px) {

  .contour-btns button {
    width: 135px;
    height: 60px;
  }

  .target-contour-img {
    width: 150px;
    height: 150px;
  }
}

/* Direction-adding */

.direction-data form {
  display: flex;
  flex-direction: column;
}

.direction-data h3 {
  margin-bottom: 20px;
}

.direction-data button {
  width: 263px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #22124E;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

.direction-data button:hover {
  border: 3px solid #22124E;
}

.direction-name {
  max-width: 300px;
}

.device-item {
  display: flex;
  justify-content: space-between;
}

.control-block {
  width: 100%;
  max-width: 500px;
  border: 1px dashed #757575;
  border-radius: 5px;
  padding: 23px 38px 35px 38px;
  stroke-dasharray: 5rem;
}

.device-select img {
  position: relative;
  top: 8px;
  left: 5px;
}

.control-block select:not(:last-child) {
  margin-bottom: 18px;
}

/* exercise-adding */

.shooting-data form {
  display: flex;
  flex-direction: column;
}

.shooting-type label {
  font-size: 1.125rem;
}

.shooting-type #shots {
  margin-bottom: 18px;
}

.shooting-type p {
  font-size: 0.75rem;
}

/* exercise-adding-shots */

.shooting-data p {
  margin: 10px 0 16px 0;
  font-size: 0.75rem;
}

.shooting-data input,
select {
  font-size: 1.125rem;
}

.shooting-targets-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}

.shooting-type label,
.shooting-target label,
.shooting-method label {
  font-size: 1.125rem;
}

.shooting-target1,
.shooting-method1 {
  margin-right: 60px;
}

.shooting-targets-item,
.hiting-targets-item {
  width: 384px;
  height: 226px;
  border: 1px dashed #757575;
  border-radius: 5px;
  padding: 23px 0 32px 38px;
}

.shooting-targets-item input[type="number"],
.hiting-targets-item input[type="number"] {
  width: 190px;
  height: 40px;
  border: 1px solid #757575;
  border-radius: 5px;
  padding-left: 15px;
}

.grades-block input[type="number"],
.points-block input[type="number"] {
  width: 105px;
  height: 40px;
  border: 1px solid #757575;
  border-radius: 5px;
  padding-left: 15px;
}

.grades-block span {
  margin: 0 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.points-block {
  margin: 0;
  display: flex;
  align-items: center;
}

.points-block span {
  margin: 0 20px;
}

.min-points {
  margin-right: 0;
}

.checked .toggle {
  display: none;
}

.checked input[type=radio]:checked~.toggle,
.checked input[type=checkbox]:checked~.toggle {
  display: block;
}

.explanation {
  display: flex;
}

.points {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.points span:first-child {
  padding-bottom: 10px;
}

.targets-with-contours {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.targets-with-contours .contours {
  display: flex;
}

.shooting-table .accordeon-row {
  margin-right: 40px;
}

@media screen and (max-width: 800px) {

  .shooting-targets-block {
    flex-direction: column;
  }

  .shooting-targets-item,
  .hiting-targets-item {
    width: 100%;
    padding-right: 30px;
    max-width: 500px;
  }

}

.contours-table .accordeon-information {
  display: flex;
  justify-content: space-between;

}

.contours-table .accordeon-row:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

/* Toggle start */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D1D1D6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--accent);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--accent);
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Toggle end */

.direction-choice-block {
  text-align: left;
  display: flex;
}

.direction-wrapper {
  width: 50%;
}

.direction-wrapper:not(:last-child) {
  margin-right: 20px;
}

.direction-choice-block .accordeon-header span {
  margin-left: 0;
}

.direction-choice-block .accordeon-header p {
  padding-left: 18px;
  font-size: 1.125rem;
}

.direction-choice-block .accordeon-row {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.direction-choice-block .accordeon-row:first-child {
  margin-right: 0;
}

.direction-choice-block label {
  font-size: 0.625rem;
}

.btns-block,
.btns-block-results {
  height: 60px;
  background: #FFF1D7;
  border: 1px solid #FFC452;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  padding: 3px;
}

.btns-block div,
.btns-block-results div {
  background: #F2F2F2;
  border: 1px solid #FFC452;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns-block-results div {
  background: #fff;
}

.btns-block-results div:first-child {
  margin-right: 4px;
}

.btns-block div:first-child {
  justify-content: flex-start;
}

.btns-block div:not(:last-child) {
  margin-right: 3px;
}

.btns-block div:last-child {
  background: #fff;
}

.btns-block input[type=checkbox] {
  margin: 0 15px;
  width: 24px;
  height: 24px;
}

.btns-block select,
.btns-block button {
  height: 52.67px;
  font-size: 1rem;
  background: #F2F2F2;
  border: 0;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.btns-block button {
  width: 100%;
  border-left: 1px solid #FFC452;
  cursor: pointer;
}

.btns-exercise button {
  max-width: 115px;
}

.direction-choice-block summary:after {
  padding: 0;
  position: relative;
  right: 0;
}

.direction-choice-block .accordeon-information {
  margin-top: 14px;
}

.shooting-targets,
.shooting-select {
  display: flex;
}


.shooting-select div:first-child {
  margin-right: 50px;
}

.camera-status {
  width: 245px;
  height: 245px;
  background: #F8F8F8;
  border: 1px solid #D6D6D6;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.camera-status span {
  display: block;
  width: 125px;
  font-size: 1.25rem;
  color: #8D8D8D;
}

.camera-status img {
  width: 100%;
}

.camera-status .point {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #EF281C;
  border-radius: 50%;
}

.shooting-target:first-child {
  margin-right: 50px;
}

@media screen and (max-width: 1600px) {

  .direction-choice-block {
    display: block;
  }

  .direction-wrapper {
    width: 100%;
  }

  .btns-block {
    height: 132px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3px 0;
  }

  .btns-block div {
    height: 60px;
  }

  .btns-block div:first-child {
    width: 38%;
    margin-bottom: 4px;
  }

  .btns-block div:nth-child(2) {
    width: 61%;
    margin-right: 0;
  }

  .btns-block div:nth-child(3) {
    width: 33%;
  }

  .btns-block div:last-child {
    width: 66%;
  }

  .btns-block div:nth-child(2) div {
    width: 100%;
    margin-top: 4px;
  }

  .btns-block select,
  .btns-block button {
    height: 58px;
  }

}

@media screen and (max-width: 750px) {
  .btns-block {
    height: 140px;
    padding: 3px;
  }

  .btns-block div {
    height: 40px;
  }

  .btns-block select,
  .btns-block button {
    height: 40px;
    margin-right: 0;
  }

  .btns-block div:last-child {
    width: 100%;
    order: 1;
  }

  .btns-block div:nth-child(2) {
    order: 1;
    width: 100%;
    margin: 5px 0;
  }

  .btns-block div:first-child,
  .btns-block div:nth-child(3) {
    width: 49.5%;
    margin-right: 0;
    margin-bottom: 0;
  }

  .btns-block div:nth-child(3) {
    margin-left: 3px;
  }

}

@media screen and (max-width: 650px) {
  .camera-status {
    width: 100%;
    height: 180px;
  }

  .camera-status span {
    font-size: 0.825rem;
  }

  .shooting-select {
    flex-direction: column;
    width: 100%;
  }

  .shooting-select div:first-child {
    margin-right: 0;
  }

}

@media screen and (max-width: 350px) {

  .btns-block div:first-child,
  .btns-block div:nth-child(3) {
    width: 49.3%;
  }

}

.shift-results {
  margin-top: 35px;
}

.results-choice details {
  background: rgba(214, 214, 214, 0.35)
}

.users-results .column-one {
  width: 630px;
}

.users-results td {
  padding: 10px 0 10px 15px;
}


.sign-in-body {
  overflow: hidden;
}

.main-logo {
  position: absolute;
  left: 100px;
  top: 80px;
  z-index: 10;
}

.main-logo img {
  width: 100px;
}

.left-triangle {
  position: absolute;
  left: 0;
  top: 0;
}

.left-triangle img {
  width: 700px;
}

.right-blue-triangle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.right-blue-triangle img {
  height: 100vh;
}

.right--yellow-triangle {
  position: absolute;
  right: 0;
  bottom: -10px;
}

.sign-in-page {
  background: #F5F5F5;
}

.sign-in-block {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 100%;
  max-width: 500px;
  height: 545px;
}

.sign-in-block form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-block form div {
  margin: 0;
}


.sign-in-block form div:first-child {
  margin: 0;
  margin-bottom: 31px;
}

.sign-in-block h2 {
  font-size: 1.625rem;
  margin-bottom: 50px;
}

.sign-in-block form input {
  width: 350px;
  font-size: 1.125rem;
}

.sign-in-block form #user-submit {
  background: #FFC452;
  border: 2px solid #FFC452;
  border-radius: 25px;
  margin-top: 50px;
}

.sign-in-block form #user-submit:hover {
  color: black;
  border: 2px solid black;
}

@media screen and (max-width: 1250px) {
  .left-triangle img {
    width: 500px;
  }

  .main-logo {
    left: 40px;
    top: 60px;
  }

  .right-blue-triangle img {
    width: 600px;
  }
}

@media screen and (max-width: 1150px) {
  .sign-in-block {
    left: 10%;
  }
}

@media screen and (max-width: 1040px) {
  .sign-in-block {
    left: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .triangles {
    display: none;
  }

  .sign-in-page {
    background: linear-gradient(to bottom right, #22124E 47.69%, rgba(93, 85, 117, 0.71) 101.1%);
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .main-logo {
    left: 100px;
    top: 60px;
  }

  .sign-in-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    top: 186px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .sign-in-block {
    top: 150px;
    width: 400px;
    height: 440px;
  }

  .main-logo {
    left: 65px;
    top: 40px;
  }

  .main-logo img {
    width: 70px;
  }
}

@media screen and (max-width: 450px) {
  .sign-in-block {
    top: 100px;
    width: 320px;
    height: 400px;
  }

  .sign-in-block form input {
    width: 250px;
    font-size: 1rem;
  }

  .main-logo {
    left: 15px;
    top: 15px;
  }
}

.modal-camera {
  display: none;
  position: absolute;
  top: 186px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 380px;
  height: 512px;
  background: #FBFBFB;
  border-radius: 10px;
  padding: 10px;
}

.modal-camera div:first-of-type,
.modal-direction div:first-of-type {
  padding: 10px 0 20px;
}

.modal-camera div:nth-of-type(2),
.modal-camera div:nth-of-type(3),
.modal-direction div:nth-of-type(2),
.modal-direction div:nth-of-type(3) {
  text-align: left;
}

.modal-camera div:nth-of-type(2),
.modal-direction div:nth-of-type(2) {
  margin-bottom: 20px;
}

.modal-camera .camera-status {
  width: 350px;
  height: 350px;
}

.modal-camera p,
.modal-direction p {
  font-size: 1.3125rem;
  font-weight: 500;
  width: 207px;
  margin: 0 auto;
}

.modal-direction {
  display: none;
  position: absolute;
  top: 186px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 380px;
  height: 365px;
  background: #FBFBFB;
  border-radius: 10px;
  padding: 10px;
}

.start-shift {
  margin-top: 30px;
  font-size: 1rem;
  width: 220px;
  height: 50px;
  background: #ECECEC;
  border: 2px solid #B2B2B2;
  border-radius: 25px;
}

.start-shift:hover {
  background: #FFC452;
  border: 2px solid #FFC452;
}


/* Стили для неверного ввода данных (при неверном вводе добавить класс .wrong-input
тегу input и убрать у span display:none */

/* .user-email span, .user-password span {
  display: none;
} */

input.wrong-input {
  border: 1px solid #EF281C;
  color: #EF281C;
}

.warning-message {
  font-size: 0.75rem;
  color: #EF281C;
}

@media screen and (max-width: 450px) {
  .warning-message {
    font-size: 0.7rem;
  }
}

.full-target .camera-status {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  border: 0;
  margin-top: 250px;
}

.full-target span {
  font-size: 1.5rem;
  font-weight: 500;
}



.wrapper-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result-item {
  border: 1px solid black;
  width: 100%;
  max-width: 320px;
  height: 320px;
  padding: 7px;
  margin: 3px;
  background: #efeded;
  font-size: 1.325rem;
}

.result-item div {
  display: flex;
}

.result-item span {
  background: #a5a2a2;
  padding: 0 5px;
  margin: 4px 3px 3px 0;
  text-transform: uppercase;
}

.result-item div:first-of-type {
  width: 100%;
}

.result-item div:first-of-type img {
  width: 100%;
  max-width: 65px;
  height: 33px;
  margin-right: 3px;
}

.result-item div:nth-of-type(3) img {
  width: 100%;
  max-width: 185px;
  height: 185px;
}

.result-item div:nth-of-type(1) {
  justify-content: space-between;
}

.result-item div:nth-of-type(1) span {
  width: 100%;
}

.result-item div:nth-of-type(2) span {
  width: 100px;
  text-align: right;
}

.result-item div:nth-of-type(3) div {
  display: flex;
  flex-direction: column;
  width: 100px;
  text-align: right;
  margin-left: 7px;
}

.result-item div:nth-of-type(3) {
  justify-content: space-between;
  display: flex;
  padding-right: 5px;
  align-items: center;
}

.result-item div:nth-of-type(4) span {
  padding: 10px;
  text-align: right;
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
}

.number {
  width: 100%;
  max-width: 50px;
  text-align: right;
  font-weight: 600;
}

.name {
  text-align: center;
  font-weight: 600;
}

/* Report-page */

.report-search {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.report-search form .report-calendar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.report-search form {
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}

.report-search form .date-interval {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.report-search form .date-interval i {
  margin: 0 20px;
}

.report-search form div {
  margin: 15px;
}

.report-search form p {
  font-size: 1.125rem;
  font-weight: 500;
}

.report-search form input[type="date"] {
  width: 160px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid black;
  font-size: 1rem;
  padding: 5px 15px;
}

.save-report-icon {
  display: none;
}

.save-report-btn,
.report-search form input[type="submit"] {
  margin: 30px 0 0 20px;
  width: 200px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid var(--primary);
  border-radius: 25px;
}

.save-report-btn:hover {
  background: var(--accent);
  cursor: pointer;
}

.report-search form input[type="submit"]:hover {
  background: var(--primary);

}

.report-table td {
  padding: 10px 20px;
}

.report-table td:last-child {
  padding-left: 30px;
}

.report-table .column-four {
  width: 70px;
}

@media screen and (max-width: 783px) {
  .report-search form div {
    margin: 15px 0;
  }
}

@media screen and (max-width: 694px) {
  .report-search form div {
    margin: 5px;
  }

  .save-report-btn,
  .report-search form input[type="submit"] {
    margin: 5px;
  }
}

@media screen and (max-width: 430px) {
  .report-search form .date-interval {
    flex-direction: column;
  }
}


/* Competit-shooting */

.results-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #D7D7D7;
  padding: 7.5px;
}

.results-item {
  display: flex;
  padding: 40px 30px;
  background: #FFFFFF;
  width: calc((100%/2) - 15px);
  margin: 7.5px;
  justify-content: space-between;
}

.results-item .camera-status {
  margin: 0;
}

.results-information {
  margin-right: 15px;
}

.results-item .results-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gunner-data {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #D6D6D6;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  max-width: 285px;
}

.gunner-data span:first-of-type {
  width: 100%;
  border-bottom: 1px solid #D6D6D6;
  font-size: 26px;
  font-weight: 500;
  padding: 10px;
}

.gunner-data span:nth-of-type(2) {
  border-right: 1px solid #D6D6D6;
  width: 65%;
}

.gunner-data span:last-of-type,
.gunner-data span:nth-of-type(2) {
  padding: 15px;
}

.grades div {
  display: flex;
  flex-direction: column;
}

.grade {
  max-width: 285px;
  height: 98px;
  padding: 15px;
  border: 1px solid #D6D6D6;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  text-align: left;
}

.grade span:first-of-type {
  font-weight: 500;
  margin-bottom: 10px;
}

.grade span:last-of-type {
  font-size: 14px;
}

.great {
  background: #E7FFE8;
}

.fine {
  background: #FDFFE1;
}

.normal {
  background: #FFF0E2;
}

.bad {
  background: #FFE5E5;
}

/* Competit-shooting var-2*/

.wrapper-2 {
  flex-wrap: nowrap;
  height: 100vh;
}

.item-2 {
  flex-direction: column;
  width: calc((100%/4) - 15px);
  margin: 2.5px;
  padding: 0;
  border-radius: 5px;
}

.gunner-2 {
  text-align: center;
  max-width: 600px;
  border: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05)
}

.gunner-2 span:first-of-type {
  font-size: 20px;
  font-weight: 300;
}

.gunner-2 span:nth-of-type(2) {
  width: 100%;
  border-bottom: 1px solid #D6D6D6;
  font-size: 26px;
  font-weight: 500;
  padding: 10px;
  border-right: 0;
}

.gunner-2 span:nth-of-type(3) {
  border-right: 1px solid #D6D6D6;
  width: 65%;
}

.gunner-2 span:last-of-type,
.gunner-2 span:nth-of-type(3) {
  padding: 15px;
  margin: 0 auto;
}

.gunner-2 {
  border-bottom: 1px solid #D6D6D6;
}

.information-2 {
  margin-right: 0;
}

.grades-2 .grade {
  display: flex;
  justify-content: center;
  height: 172px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #E0E0E0;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 5px 5px;
}

.item-2 .camera-status {
  margin: 25px auto;
}

.grades-2 .grade span {
  margin: 0 auto;
}

.grades-2 .grade span:first-of-type {
  font-size: 20px;
  margin-bottom: 15px;
}

.grades-2 .grade span:last-of-type {
  font-size: 16px;
  width: 250px;
}